body {
    padding: 70px;
    background: url('https://www.wallpaperflare.com/static/785/459/763/neon-city-drawing-pop-wallpaper.jpg') no-repeat center center fixed;
}

.task-col {
    border: .5rem;
    border-color: black;
}

#add-task-mobile {
    position: absolute;
    bottom: 2rem;
    right: 3rem;
    width: 5rem;
    height: 5rem;
    border-radius: 100%;
}

.navbar-dark {
    background-color: rgb(0, 0, 0, .6);
}

input[type=checkbox]{
    /* Double-sized Checkboxes */
    -ms-transform: scale(1.5); /* IE */
    -moz-transform: scale(1.5); /* FF */
    -webkit-transform: scale(1.5); /* Safari and Chrome */
    -o-transform: scale(1.5); /* Opera */
}